[Unit]
Description=Telegram bot 'botinok'
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/botinok
ExecStart=python3 /root/botinok/main.py
RestartSec=10
Restart=always
 
[Install]
WantedBy=multi-user.target